/* CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(165, 165, 165);
    padding: 0.8%;
    border-bottom: 1px solid white;
}
header img{
    width: 16vw;
}
body{
    background-color: black;
}
h2{
    text-align: center;
    font-size: 38px;
    text-decoration: underline;
    color: aliceblue;
    
}
main{
    font-family: 'Roboto Slab', serif;
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(autofit,50px) minmax(autofit,100px)  minmax(autofit,250px) minmax(autofit,100px),minmax(autofit,50px);
    margin-bottom: 2%;
}
.mainqte{
    justify-self: center;
    align-self: center;
}
main img{
    grid-area: 1/2/5/2;
    margin: 2% 0 0 4%;
    border: 2px solid white;
    width: 35vw;
    border-radius: 22px;
}
main p{
    padding: 1%;
}
.para2{
    grid-area: 3/1/4/1;
}
.para3{
    grid-area: 4/1/5/1;
}
.maincit{
    grid-area: 5/2/6/2;
    justify-self: center;
}

.accrd{
    border-radius: 8px;
    background-color: rgb(142, 142, 142);
    width: 70%;
    max-height:50%;
    margin: 2% auto;
    font-family: 'Roboto Slab', serif;
    color: white;
}

.acc_cntainr{
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    width: 90%;
}

.accordion-control{
    cursor: pointer;
    width: 100%;
    height: 50px;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    background-color: aqua;
    border: none;
}
.acc_cntainr>div{
    display: none;
    
}
.acc_cntainr>.active{
    text-align: center;
    background-color: black;
    height:70px;
    font-size: 20px;
    color:rgb(255, 255, 255);
}
.tabbd_sectns{
    border-radius: 8px;
    background-color: rgb(142, 142, 142);
    width: 40%;
    margin: 2% auto;
    font-family: 'Roboto Slab', serif;
    color: white;
}
.tabs{
    display: grid;
    grid-template-rows: 60px;
    grid-template-columns: repeat(5,100px);
    justify-content: center;
    column-gap: 0.5%;
}
.tab_cntrl{
    display: inline;
    cursor: pointer;
    width: 100%;
    height: 50px;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    background-color: rgb(220, 254, 132);
    border: none;
}
.tabbd_sectns>.tab-panel>img{
    width: 40%;
}
.tab-panel{
    display: none;
}
.tab-panel.active{
    display: block;
}
/*Footer section styles*/
footer {
    background-color: #1f1f1f;
    width: 100%;
    height: 12%;
    border-top: 2px solid rgb(56, 225, 38);
    
}

footer p {

    text-align: center;
    color: white;
    width: 50%;
    font-size: 90%;
    margin: 0 auto;
    line-height: 100%;
    padding: 0.5%;
}

footer>p>strong {
    font-family: 'Montserrat', sans-serif;
}