/* CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: rgb(88, 88, 88);
    color: white;
    padding: 1%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin: 4% auto;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  th:hover{
    background-color: rgb(163, 163, 163);
  }